.features {
    padding: 80px 100px;

  }
  
  .features-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin: 0 auto;
  }
  
  .features-text {
    flex: 1;


    text-align: left; /* Align text to the left */
  }
  
  .features-text h2 {
    color: #0B132A;
font-family: Rubik;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 142.857% */
  }
  
  .features-text p {
    color: #4F5665;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
  }
  
  .features-text ul {
    list-style-type: none;
    padding-left: 0;
  }

  .features-text ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    color: #4F5665;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 214.286% */
  }

  .features-text ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px; /* Adjust vertical positioning */
    width: 20px; /* Adjust width of the custom bullet */
    height: 20px; /* Adjust height of the custom bullet */
    background-image: url('/public/bullet.svg'); /* URL of your custom vector image */
    background-size: contain; /* Scale image to fit within the dimensions */
    background-repeat: no-repeat; /* Prevent repeating */
  }
  
  .features-image{
    max-width: 50%;
    margin-right: 50px;
  }

  .features-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-right: 200px;
  }
  
  /* Media Query for Responsive Design */
  @media (max-width: 768px) {
    .features-content {
      flex-direction: column;
    }
  
    .features-text,
    .features-image {
      width: 100%;
      text-align: center;
    }
  }
  