/* Footer.css */

/* General Footer Styles */
.footer {
  position: relative;
  background-color: #F8F8F8;
}

/* Top Section */
.top-section {
  height: 200px;
  background-color: white;
}

/* Overlay Banner */
.overlay-banner {
  position: absolute;
  top: 100px; /* Adjust the value to control the positioning */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.overlay-content {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.overlay-text {
  flex: 1;
  text-align: left;
}

.subscribe-button {
  width: 250px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--primary, #F53855);
  box-sizing: border-box;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.subscribe-button:hover {
  background-color: #E2334C;
}

/* Bottom Section */
.bottom-section {
  background-color: #F8F8F8;
  color: rgb(0, 0, 0);
}

.transparent-container {
  background-color: #F8F8F8;
  margin: 50px;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  text-align: left;
}

/* Left Bottom Section */
.left-bottom-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 50px;
}

.company-logo {
  width: 50px;
  height: 50px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: middle;
}

.logo-description {
  margin-top: 10px;
  font-size: 14px;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.social-icons a:hover {
  opacity: 0.7;
}

/* Copyright Text */
.copy-year {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

/* Right Bottom Section */
.right-bottom-section {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* Copyright Text */
.copyright {  
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}

/* Clearfix */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
