.hero {
    background-color: #ffffff;
    padding: 1px 0;
  }
  

  .Headign {
    color: #0B132A !important ;
    font-family: Rubik !important;
    font-size: 50px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 70px !important; /* 140% */
  }

  .Parag{
    font-size: 16px !important;
    color: #4F5665;
  }
  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;
    max-width: 1100px;
    
  }
  
  .hero-text {
    flex: 1;
    text-align: left;
  }
  
  .hero-text p {
    font-size: 1.1rem;
    color: #707070;
    margin-bottom: 30px;
  }
  
  .hero-text button {
    width: 250px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--primary, #f53855);
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  }

  .hero-text button:hover {
    background-color: #e63b4d; /* Slightly darker shade when hovered */
    box-shadow: 0px 30px 50px 0px #ffaab7;
  }
  
  .hero-image img {
    margin-top: 50px;
    margin-left: 30px;
    max-width: 80%;
    height: auto;
  }

.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 1140px; /* Set the width */
  height:200px; /* Set the height */
  margin: 0 auto; /* Center the banner */
  border-radius: 10px;
  background: #FFF;
  margin-top: 30px; /* Add some margin */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Add shadow below */
  }
  
  .banner-item {
    display: flex;
  align-items: center;
  padding: 0 15px; /* Add padding to the banner items */
  color: black;
  flex-shrink: 0; /* Prevent icon overflow */
  /* ... rest of your styles ... */
  }
  
  .banner-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left:  90px;
  }
  
  .topText{
    color: #0B132A;
font-family: Rubik;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 5px; /* 120% */
  }

  .icon-text p {
    font-size: 14px;
    margin-right: 90px;
    text-align: left;
  }
  
