
* { 
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-color: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
}

.Heading {
  color: #0B132A !important;
  font-family: Rubik !important;
  font-size: 45px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 65px !important;
  max-width: 90%;
  margin-bottom: 15px;
}

.Parag {
  font-size: 16px !important;
  color: #4F5665;
  margin-bottom: 50px;
  min-width: 100%;
  line-height: 25px;
}

.hero-content {
  display: flex;
  flex-direction: column; /* Default mobile layout */
  align-items: center;
  text-align: center;
}

.hero-text {
  margin-bottom: 0px;
  min-width: 55%;
}


.hero-text button {
  width: 220px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--primary, #f53855);
  box-sizing: border-box;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.hero-text button:hover {
  background-color: #e63b4d;
  box-shadow: 0px 30px 50px 0px #ffaab7;
}

.hero-image img {
  max-width: 100%;
}

.hero-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%; /* Full width for responsiveness */
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Add some padding */
}

.banner-item {
  display: flex;
  align-items: center;
  padding: 0 15px;
  flex-shrink: 0;
}

.banner-item img {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.topText {
  color: #0B132A;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}

.bottomText {
  color: #4F5665;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}

.icon-text p {
  text-align: left;
  margin-left: 15px;
}

.vertical-line {
  width: 2px;
  height: 100px;
  background-color: #EEEFF2;
  margin: 0 20px;
}

/* Tablet and larger screens */
@media (min-width: 768px) {
  .hero-content {
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1200px;
  }

  .hero-text {
    flex: 1;
    text-align: left;
    margin-right: 20px;
  }

  .hero-image img {
    margin-top: 65px;
  }

  .hero-banner {
    margin-top: 100px;
    padding: 30px;
  }

  .banner-item img {
    margin-left: 35px;
  }

  .topText {
    font-size: 25px;
    line-height: 0px;
  }

  .bottomText {
    font-size: 18px;
    line-height: 0px;
  }
}
