.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
  }
  
  .auth-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
  }
  
  .auth-links button {
    background-color: transparent;
  color: #f53855; /* Set the outline color */
  border: 2px solid #f53855; /* Add a border to create the outline effect */
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  }
  
  .auth-links button:hover {
    background-color: #f53855;
    color: #ffffff;
  }